* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: url("../images/landing.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20px 20px;
}

/* Title */
.top-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 0 0 20px #00ff88;
}

/* Search Bar */
.search-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 70px;
}

.search-bar {
  width: 50%;
  max-width: 600px;
  padding: 15px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 18px;
  border: 1px solid #00ff88;
}

/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* Card */
.card {
  background: rgba(0,0,0,0.6);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s;
  backdrop-filter: blur(10px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  padding: 10px;
  font-size: 20px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #00ff88;
}

/* Laptop */
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }

  .search-bar {
    width: 80%;
  }
  .card img {
    height: 150px;
  }

  .top-title {
    font-size: 50px;
  }
}