* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: url("../images/landing.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20px 20px;
}

/* ========================= */
/* TOP BAR */
/* ========================= */

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  z-index: 1000;
}

.logo-title {
  font-size: 28px;
  font-weight: bold;
  color: #00ff88;
  letter-spacing: 2px;
}

.search-container {
  width: 400px;
}

.search-input {
  width: 100%;
  padding: 12px 18px;
  border-radius: 25px;
  border: 1px solid #00ff88;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 16px;
  outline: none;
}

/* Add spacing below fixed header */
body {
  padding-top: 100px;
}

/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* Card */
.card {
  background: rgba(0,0,0,0.6);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s;
  backdrop-filter: blur(10px);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card h3 {
  padding: 10px;
  font-size: 20px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #00ff88;
}

/* Laptop */
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .card img {
    height: 150px;
  }


}

@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    padding: 15px 20px;
    gap: 15px;
  }

  .logo-title {
    font-size: 22px;
  }

  .search-container {
    width: 100%;
  }
}